.hobbies {
  margin-top: 15px;
}

.hobbies h3 {
  color: #6a0dad;
  margin-bottom: 10px;
}

.hobbies ul {
  list-style-type: none;
  padding: 0;
}

.hobbies li {
  background-color: #ece4f9;
  margin: 5px auto;
  padding: 8px;
  border-radius: 8px;
  width: 60%;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}