.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	width: 260px;
	padding: 15px;
	margin: 40px auto;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
	width: 100%;
	border-radius: 6px;
  }
  