/* External CSS example */

body {
	font-family: Arial, sans-serif;
	background-color: #aef4ae;
	padding: 20px;
	color: #333;
  }
  
  h1 {
	color: darkgreen;
	text-align: center;
	text-decoration: underline;
	background-color: #007bff;
  }




















  
  
  /* Targeting class "external" */
  .external {
	color: white;
	background-color: #007bff;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
  }
  