<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to our simple MVC project!</p>
  <a href="/signup">Signup</a> | <a href="/login">Login</a>
</body>
</html>
